body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("abcd.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.logo img {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-top: 20px;
}

.menu {
    display: flex;
    font-size: 40px;
    list-style-type: none;
    gap: 30px;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu{
    position: relative;
}
.sub{
    list-style-type: none;
    position: absolute;
    top: 100%;
}

.sub{
    display: none;
}

li:hover .sub{
    display: block;
}

.menu li:hover{
    background-color: black;
    width: fit-content;
    height: fit-content;
}

.active{
    background-color: black;
}

.search .srch, .btn{
    height: 40px;
    color: black;
}

.srch{
    width: 300px;
}

.btn{
    width: 90px;
}

.title{
    font-size: 50px;
    text-align: center;
    margin-top: 130px;
    color: white;
}

.search{
    margin-top: 20px;
    display: flex;
    justify-content: center;  
    gap: 10px;
}
