.main {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    justify-content: end;

}

.main li {
    margin-right: 50px;
    position: relative;
    list-style-type: none;
}

.main li a {
    text-decoration: none;
    color: rgb(250, 5, 5);
    font-size: 25px;
}

.main li a:hover{
    background-color: rgb(45, 45, 45);
    color: white;
}

.sub{
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: yellowgreen;
    padding: 10px 0;
    min-width: 180px;
}

.sub li {
    margin: 0;
    padding: 8px 15px;
} 

.main li:hover .sub {
    display: block;
}
